.button {
  margin-left: 12px;
}

.innerBox {
  padding: 30px;
}

.error {
  color: rgb(244, 67, 54);
}

.textField {
    margin-left:10px;
    margin-right: 20px;
    width: 200;
    color: black;
  }

.contactAttribute {
	
}
.attributerow {
	padding: 15px 0px;
}